  <div class="panel panel-message">
    <div class="panel-body">
       <% if message.user == current_user %>
        <%= "<i class='fa fa-check unread fa-2x'></i>".html_safe  %>
        <%= "<i class='fa fa-check read fa-2x'></i>".html_safe  %>
       <% end %>
      <%= image_tag avatar_url(message.user), class: "img-circle avatar-small" %>
      <strong><%= message.user.fullname %></strong>
      <span class="pull-right"><%= message.message_time %></span>
      <br>
      <div class="row-space-2">
        <%= message.content %>
      </div>
    </div>
  </div>

