<div id="wrapper">
  <div id="sidebar">
    <div id="widget" class="sticky">
        <script>
          function initialize() {
            var mapCanvas = document.getElementById('widget');
            var mapOptions = {
              <% if @arrBikes.length > 0 %>
                center: new google.maps.LatLng(<%= @arrBikes[0].latitude %>, <%= @arrBikes[0].longitude %>),
              <% else %>
                center: new google.maps.LatLng(44.532, -78,832),
              <% end %>
              zoom: 8,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(mapCanvas, mapOptions);
            <% @arrBikes.each do |bike|%>
            var marker = new google.maps.Marker({
              position: new google.maps.LatLng(<%= bike.latitude %>, <%= bike.longitude %>),
              title: "test"
            });
            marker.setMap(map);
            <% end %>
          }
          google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    </div>
  </div>

  <div id="article">

  <div class="row">
    <div class="row">
      <% @arrBikes.each do |b|  %>
      <div class="col-xs-12 col-sm-6">
      <%= link_to bike_path(b) do %>
            <div class="card">
              <% if !b.photos.empty? %>
              <span class="card-bg" style="background-image: url('<%= b.photos.first.image.url() %>')"></span>
              <% end %>
              <span class="card-shadow"></span>
              <span class="card-description">Popular</span>
              <span class="card-text">
                <h2> <%= b.category %></h2>
                <p> <%= b.title %></p>
              </span>
              <span class="card-user">
              <% if current_user %>
                <%= image_tag avatar_url(b.user), class: "img-circle avatar-medium" %>
              <% end %>
              </span>
            </div>
          <% end %>
          </div>
        <% end %>

  </div>
   </div>
</div>

<script>
$(function() {
  $('#start_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: "3m",
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr('disabled', false);
    }
  });
  $("#end_date").datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: "3m",
    onSelect: function(selected) {
      $('#start_date').datepicker("option", "maxDate", selected);
    }
  });
})

</script>

<script>
  $(function(){ // document ready

  if (!!$('.sticky').offset()) { // make sure ".sticky" element exists

    var stickyTop = $('.sticky').offset().top; // returns number

    $(window).scroll(function(){ // scroll event

      var windowTop = $(window).scrollTop(); // returns number

      if (stickyTop < windowTop){
        $('.sticky').css({ position: 'fixed', top: 0 });
      }
      else {
        $('.sticky').css('position','static');
      }

    });

  }

});
</script>
