<div class="row">
  <div class="col-md-3">
    <ul class= "sidebar-list">
      <li class="sidebar-item"><%= link_to "Your Bikes", bikes_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to "Your Rides", reservations_path, class: "sidebar-link active" %></li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
     Your Rides
      </div>
      <div class="panel-body">
        <% @reservations.each do |reservation| %>
          <div class="row">
            <div class="col-md-2">
              <%= image_tag avatar_url(reservation.bike.user) %>
            </div>
            <div class="col-md-3">
              <h4><%= reservation.reservation_time %></h4>
            </div>
            <div class="col-md-2">
              <h4><%= reservation.lentgh_time %> Days</h4>
            </div>
            <div class="col-md-2">
              <h4><%= reservation.total %>$</h4>
            </div>
            <div class="col-md-3 right">
              <%= link_to "Show", bike_path(reservation.bike), class: "btn btn-primary" %>
              <%= link_to reservation_path(reservation), method: :delete do %>
              <i class="fa fa-times fa-2x delete_cross"></i>
              <% end %>
            </div>

          </div>
          <hr>
        <% end %>

      </div>
    </div>
  </div>
</div>
