<div class="content">
  <div class="bikes-col-8">
    <div class="bikes-wrapper clearfix">
      <% @bikes.each do |bike|  %>
      <div class="col-xs-12 col-sm-6">
      <%= link_to bike_path(bike) do %>
        <div class="bike-item clearfix" data-bike-id="<%= bike.id %>" data-bike-title="<%= bike.title %>" data-lat="<%= bike.latitude %>" data-lng="<%= bike.longitude %>" id="bike_<%= bike.id %>">
          <% if !bike.photos.empty? %>
          <span class="card-bg" style="background-image: url('<%= bike.photos.first.image.url() %>')"></span>
          <% end %>
          <span class="card-shadow"></span>
          <span class="card-description">Popular</span>
          <span class="card-text">
            <h2> <%= bike.category %></h2>
            <p> <%= bike.title %></p>
          </span>
          <span class="card-user">
          <% if current_user %>
            <%= image_tag avatar_url(bike.user), class: "img-circle avatar-medium" %>
          <% end %>
          </span>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>

  <div id="sidebar">
    <div class="map-container">
    <div id="map" class=""></div>
    </div>
  </div>

<script>
$(function() {
  $('#start_date').datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: "3m",
    onSelect: function(selected) {
      $('#end_date').datepicker("option", "minDate", selected);
      $('#end_date').attr('disabled', false);
    }
  });
  $("#end_date").datepicker({
    dateFormat: 'dd-mm-yy',
    minDate: 0,
    maxDate: "3m",
    onSelect: function(selected) {
      $('#start_date').datepicker("option", "maxDate", selected);
    }
  });
})

</script>

<script>
  $(function(){ // document ready

  if (!!$('.sticky').offset()) { // make sure ".sticky" element exists

    var stickyTop = $('.sticky').offset().top; // returns number

    $(window).scroll(function(){ // scroll event

      var windowTop = $(window).scrollTop(); // returns number

      if (stickyTop < windowTop){
        $('.sticky').css({ position: 'fixed', top: 0 });
      }
      else {
        $('.sticky').css('position','static');
      }

    });

  }

});
</script>
