<!DOCTYPE html>
<html>
<head>
  <title>Bikeo</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?&libraries=places" %>

  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' %>
  <%= csrf_meta_tags %>


</head>
<body ontouchstart class="public <%= controller_name %> <%= action_name %>">

  <%= render 'shared/navbar' %>
  <%= render 'shared/message' %>
  <%= yield %>

</body>
</html>
